# temps
.python-version
.~*
*.ipynb_checkpoints/

# talk specific
2023_EuroSciPy/2023_EuroSciPy_notes.odt
2023_EuroSciPy/2023_EuroSciPy_notes.pdf
2024_start_with_open_source/start-with-open-source_notes.odt
